
header {
    grid-area: hr;
    padding: 1px;
    background-color: rgb(38, 137, 5);
}
nav {
    grid-area: nv;
    padding: 1px;
    background-color: rgb(138, 0, 0);
    text-align: center;
}
section1{
    grid-area: s1;
    padding: 1px;
    background-color: blueviolet;
    border-radius: 15px;
}
aside{
    grid-area: as;
    padding: 1px;
    background-color: green;
    border-radius: 15px;
    text-align: center;
}
footer{
    grid-area: fr;
    padding: 1px;
    background-color: orange;
}


#wrapper1 {
    width: 40%;
    display: grid;
    grid-template: 
    "hr hr hr" 1fr
    "nv nv nv" 2fr
    "s1 s1 as" 5fr
    "fr fr fr" 3fr;
    border: 1px solid black;
    margin: auto;
    
}

img {
    width: auto;
    height: auto;
}

section{
    grid-area: sc;

}
aside2{
    grid-area: a2;

}


#wrapper2 {
width: 40%;
   display: grid;
   grid-template: 
   "hr hr hr"
   "nv nv nv"
   ""
}