
header {
    grid-area: hr;
    padding: 1px;
    background-color: rgb(8, 23, 90);
    color: white;
}
nav {
    grid-area: nv;
    padding: 1px;
    text-align: center;
    color: black;
}
main{
    grid-area: mn;
    padding: 1px;
    border-radius: 15px;
    color: rgb(255, 0, 0);
}   
aside{
    grid-area: as;
    padding: 1px;
    border-radius: 15px;
    text-align: right;
}
footer{
    grid-area: fr;
    padding: 1px;
    color: rgb(206, 124, 0);
}


#wrapper1 {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template: 
    "hr hr hr" 0.3fr
    "nv nv nv" 0.6fr
    "mn mn as" 2fr
    "fr fr fr" 1fr;
    border: 1px solid black;
    background-image: url("https://static.independent.co.uk/2024/11/13/12/how-to-play-poker-copy.jpg");
}

.poker hand-rankings {
    
    width: 300px;
    height: auto;
}

main1{
    grid-area: m1;
    text-align: center;
    background-image: url("https://t4.ftcdn.net/jpg/01/00/52/93/360_F_100529338_asP1lEhJDngJyTJDUO6Yn7HQRpCFksuA.jpg");
    width: 275px;
    color: rgb(255, 255, 255);
}
aside2{
    grid-area: a2;

}
footer1{
    grid-area: f1;
    text-align: center;
}


#wrapper2 {
width: 100%;
   display: grid;
   grid-template: 
   "hr hr hr"
   "nv nv nv"
   "m1 a2 a2"
   "f1 f1 f1";
   border: 1px black;
   margin: auto;
   background-color: rgb(59, 157, 255);
   height: 600px;
}

main3{
    grid-area: m3;
    text-align: right;
}
section3{
    grid-area: s3;
    text-align: right;
}
aside3{
    grid-area: a3;
    text-align: center;
}
footer3{
    grid-area: f3;
}
.poker_tournament{
    width: 400px;
    height: auto;
}

#wrapper3{
    display: grid;
    grid-template: 
    "hr hr hr"
    "nv nv nv"
    "m3 a3 a3"
    "s3 a3 a3"
    "f3 f3 f3";

}